[Unit]
Description=Control a heater using MQTT
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
User=root
Environment=MQTT_HOST=localhost
ExecStart=gourd --sys-path /home/zwhite/hestia hestia:app

[Install]
WantedBy=multi-user.target
